.about-page {
  background-color: #030615;
  color: #ffffff;
  min-height: 100vh;
  width: 100vw;  
}

/* Content Section */
.about-content {
  padding: 2rem;
  max-width: 800px;
  margin: 2rem auto;
  animation: fadeIn 1.5s ease-in;
  text-align: center;
  
}

.about-content p {
  font-size: 1.1rem;
  color: hsl(0, 0%, 80%);
  line-height: 1.6;
  text-align: justify;
}

/* Fade-in Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .banner-overlay h1 {
    font-size: 2.2rem;
  }
  .banner-overlay h2 {
    font-size: 1.2rem;
  }
}

.gallery-section {
  padding: 2rem;
  text-align: center;
  background: #0b1120;
  color: #f0db4f;
  animation: fadeIn 1.5s ease-in;
}

.gallery-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.8rem;
  padding: 1rem;
}

.gallery-grid img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
  border: 2px solid #f0db4f;
}

.gallery-grid img:hover {
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 768px) {
  .gallery-grid img {
    height: 200px;
  }
}
.about-container {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.about-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.about-intro {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #555;
  line-height: 1.6;
  text-align: justify;}
.about-section {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

.about-section h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #f0db4f;
}

.about-section p {
  font-size: 1.1rem;
  color: hsl(0, 0%, 80%);
  line-height: 1.6;
  text-align: justify;
}
.about-content h2{
  font-size: 1.8rem;
  color: #f0db4f;
  margin-bottom: 0.5rem;
}
