.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: visible;
}

.menu-icon-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 10px;
}

.menu-icon {
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
  cursor: pointer;
}

.menu-icon:hover {
  color: goldenrod;
}

.main-img {
  width: 100vw;
  height: auto;
  object-fit: cover;
  display: block;
}

/* ✅ Responsive Styling */
@media (max-width: 768px) {
  .menu-icon {
    font-size: 1.1rem;
  }

  .main-img {
    height: 80vh;
  }
}

@media (max-width: 480px) {
  .menu-icon-container {
    top: 0.5rem;
    left: 0.5rem;
    padding: 5px;
  }

  .menu-icon {
    font-size: 1.1rem;
  }

  .main-img {
    height: 80vh;
  }
}